
/*=======================================
    GENERAL STYLES
==================================================*/

body { background: url("../img/background.jpg") repeat;  }
.text-center {  text-align:center;  }
.alg-right-pad {  float:right; padding-right:20px;  }
.row {  margin-bottom:10px;  }
.btn {  margin-bottom:5px;  }

/*=======================================
  FOOTER SECTION
==================================================*/

.end-box {  padding:25px;  color: white;  }

.banner {height: 160px;}
.banner .logo {float:left; top: 0; margin-top: 10px; width: 135px}
.banner .logo img {width: 130px; height: 135px;}

.navbar-default .navbar-nav > li > a {color: white}
.navbar-default .navbar-nav > li > a:hover {color: white; background-color: #1b68aa;}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, .group-item .panel-heading, .navbar-default, .end-box {
    background: -webkit-linear-gradient(#0067bf, #00447E);
    background: -o-linear-gradient(#0067bf, #00447E);
    background: -moz-linear-gradient(#0067bf, #00447E);
    background: linear-gradient(#0067bf, #00447E);
}

.group-item {border: 1px solid #ddd;}
.group-item .thumbnail {border: none; margin-bottom: 0;}
.group-item h5 { margin-top: 5px; margin-bottom: 5px; color: #0067bf; font-weight: bold}
.group-item h5 a {color: #0067bf;}

.list-group-item {border: 1px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd}
.panel-body {padding: 10px;}
.navbar {margin-bottom: 10px;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 5px;
	padding-right: 5px;
}
.body {
    background: white;
}

.pagination {float: right;}

.captcha legend {border: none; font-size: 14px; margin-bottom: 5px}
.captcha img {float: right; margin-right: 100px; cursor: pointer;}
.contact {margin-top: 10px;}
.contact label {font-weight: normal;}
.contact ul {display: none}
.contact .error-message {color: red; display: block}
.contact textarea.form-control {height: 100px !important;}

.pagination > li > a, .pagination > li > span {padding: 1px 8px}

.panel-title {font-size: 14px;}

.news-other .list-group-item {border: none !important; padding: 5px 7px;}
.news-other .list-group-item span {margin-right: 5px}
.media {padding: 10px 0px; border-bottom: 1px solid #DDD; margin-top: 0}

.pagination > li > a, .pagination > li > span {border: none;}